.Acceso {
    height: 100vh;
    text-align:center;
    background: rgb(140,51,16); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(140,51,16,1) 0%, rgba(240,183,161,1) 50%, rgba(140,51,16,1) 100%, rgba(140,51,16,1) 100%, rgba(191,110,78,1) 100%, rgba(140,51,16,1) 100%, rgba(140,51,16,1) 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(140,51,16,1) 0%,rgba(240,183,161,1) 50%,rgba(140,51,16,1) 100%,rgba(140,51,16,1) 100%,rgba(191,110,78,1) 100%,rgba(140,51,16,1) 100%,rgba(140,51,16,1) 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(140,51,16,1) 0%,rgba(240,183,161,1) 50%,rgba(140,51,16,1) 100%,rgba(140,51,16,1) 100%,rgba(191,110,78,1) 100%,rgba(140,51,16,1) 100%,rgba(140,51,16,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c3310', endColorstr='#8c3310',GradientType=0 );
}

.recipes {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}